{
  "plugins": [
    "prettier-plugin-solidity"
  ],
  "tabWidth": 4,
  "printWidth": 120,
  "singleQuote": false,
  "bracketSpacing": true,
  "semi": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "printWidth": 100,
        "bracketSpacing": false,
        "explicitTypes": "always",
        "singleQuote": false,
        "semi": true,
        "trailingComma": "none"
      }
    }
  ]
}